:root {
    --colors-primary: #228be6;
    --colors-white: #ffffff;
    --colors-black: #000000;
    --colors-dark50: #C1C2C5;
    --colors-dark100: #A6A7AB;
    --colors-dark200: #909296;
    --colors-dark300: #5c5f66;
    --colors-dark400: #373A40;
    --colors-dark500: #2C2E33;
    --colors-dark600: #25262b;
    --colors-dark700: #1A1B1E;
    --colors-dark800: #141517;
    --colors-dark900: #101113;
    --colors-gray50: #f8f9fa;
    --colors-gray100: #f1f3f5;
    --colors-gray200: #e9ecef;
    --colors-gray300: #dee2e6;
    --colors-gray400: #ced4da;
    --colors-gray500: #adb5bd;
    --colors-gray600: #868e96;
    --colors-gray700: #495057;
    --colors-gray800: #343a40;
    --colors-gray900: #212529;
    --colors-red50: #fff5f5;
    --colors-red100: #ffe3e3;
    --colors-red200: #ffc9c9;
    --colors-red300: #ffa8a8;
    --colors-red400: #ff8787;
    --colors-red500: #ff6b6b;
    --colors-red600: #fa5252;
    --colors-red700: #f03e3e;
    --colors-red800: #e03131;
    --colors-red900: #c92a2a;
    --colors-pink50: #fff0f6;
    --colors-pink100: #ffdeeb;
    --colors-pink200: #fcc2d7;
    --colors-pink300: #faa2c1;
    --colors-pink400: #f783ac;
    --colors-pink500: #f06595;
    --colors-pink600: #e64980;
    --colors-pink700: #d6336c;
    --colors-pink800: #c2255c;
    --colors-pink900: #a61e4d;
    --colors-grape50: #f8f0fc;
    --colors-grape100: #f3d9fa;
    --colors-grape200: #eebefa;
    --colors-grape300: #e599f7;
    --colors-grape400: #da77f2;
    --colors-grape500: #cc5de8;
    --colors-grape600: #be4bdb;
    --colors-grape700: #ae3ec9;
    --colors-grape800: #9c36b5;
    --colors-grape900: #862e9c;
    --colors-violet50: #f3f0ff;
    --colors-violet100: #e5dbff;
    --colors-violet200: #d0bfff;
    --colors-violet300: #b197fc;
    --colors-violet400: #9775fa;
    --colors-violet500: #845ef7;
    --colors-violet600: #7950f2;
    --colors-violet700: #7048e8;
    --colors-violet800: #6741d9;
    --colors-violet900: #5f3dc4;
    --colors-indigo50: #edf2ff;
    --colors-indigo100: #dbe4ff;
    --colors-indigo200: #bac8ff;
    --colors-indigo300: #91a7ff;
    --colors-indigo400: #748ffc;
    --colors-indigo500: #5c7cfa;
    --colors-indigo600: #4c6ef5;
    --colors-indigo700: #4263eb;
    --colors-indigo800: #3b5bdb;
    --colors-indigo900: #364fc7;
    --colors-blue50: #e7f5ff;
    --colors-blue100: #d0ebff;
    --colors-blue200: #a5d8ff;
    --colors-blue300: #74c0fc;
    --colors-blue400: #4dabf7;
    --colors-blue500: #339af0;
    --colors-blue600: #228be6;
    --colors-blue700: #1c7ed6;
    --colors-blue800: #1971c2;
    --colors-blue900: #1864ab;
    --colors-cyan50: #e3fafc;
    --colors-cyan100: #c5f6fa;
    --colors-cyan200: #99e9f2;
    --colors-cyan300: #66d9e8;
    --colors-cyan400: #3bc9db;
    --colors-cyan500: #22b8cf;
    --colors-cyan600: #15aabf;
    --colors-cyan700: #1098ad;
    --colors-cyan800: #0c8599;
    --colors-cyan900: #0b7285;
    --colors-teal50: #e6fcf5;
    --colors-teal100: #c3fae8;
    --colors-teal200: #96f2d7;
    --colors-teal300: #63e6be;
    --colors-teal400: #38d9a9;
    --colors-teal500: #20c997;
    --colors-teal600: #12b886;
    --colors-teal700: #0ca678;
    --colors-teal800: #099268;
    --colors-teal900: #087f5b;
    --colors-green50: #ebfbee;
    --colors-green100: #d3f9d8;
    --colors-green200: #b2f2bb;
    --colors-green300: #8ce99a;
    --colors-green400: #69db7c;
    --colors-green500: #51cf66;
    --colors-green600: #40c057;
    --colors-green700: #37b24d;
    --colors-green800: #2f9e44;
    --colors-green900: #2b8a3e;
    --colors-lime50: #f4fce3;
    --colors-lime100: #e9fac8;
    --colors-lime200: #d8f5a2;
    --colors-lime300: #c0eb75;
    --colors-lime400: #a9e34b;
    --colors-lime500: #94d82d;
    --colors-lime600: #82c91e;
    --colors-lime700: #74b816;
    --colors-lime800: #66a80f;
    --colors-lime900: #5c940d;
    --colors-yellow50: #fff9db;
    --colors-yellow100: #fff3bf;
    --colors-yellow200: #ffec99;
    --colors-yellow300: #ffe066;
    --colors-yellow400: #ffd43b;
    --colors-yellow500: #fcc419;
    --colors-yellow600: #fab005;
    --colors-yellow700: #f59f00;
    --colors-yellow800: #f08c00;
    --colors-yellow900: #e67700;
    --colors-orange50: #fff4e6;
    --colors-orange100: #ffe8cc;
    --colors-orange200: #ffd8a8;
    --colors-orange300: #ffc078;
    --colors-orange400: #ffa94d;
    --colors-orange500: #ff922b;
    --colors-orange600: #fd7e14;
    --colors-orange700: #f76707;
    --colors-orange800: #e8590c;
    --colors-orange900: #d9480f;
    --space-0: 0rem;
    --space-1: 0.125rem;
    --space-2: 0.25rem;
    --space-3: 0.375rem;
    --space-4: 0.5rem;
    --space-5: 0.625rem;
    --space-6: 0.75rem;
    --space-7: 0.875rem;
    --space-8: 1rem;
    --space-9: 1.25rem;
    --space-10: 1.5rem;
    --space-11: 1.75rem;
    --space-12: 2rem;
    --space-13: 2.25rem;
    --space-14: 2.5rem;
    --space-15: 2.75rem;
    --space-16: 3rem;
    --space-17: 3.5rem;
    --space-18: 4rem;
    --space-20: 5rem;
    --space-24: 6rem;
    --space-28: 7rem;
    --space-32: 8rem;
    --space-36: 9rem;
    --space-40: 10rem;
    --space-44: 11rem;
    --space-48: 12rem;
    --space-52: 13rem;
    --space-56: 14rem;
    --space-60: 15rem;
    --space-64: 16rem;
    --space-72: 18rem;
    --space-80: 20rem;
    --space-96: 24rem;
    --space-xs: 10;
    --space-sm: 12;
    --space-md: 16;
    --space-lg: 20;
    --space-xl: 24;
    --space-xsPX: 10px;
    --space-smPX: 12px;
    --space-mdPX: 16px;
    --space-lgPX: 20px;
    --space-xlPX: 24px;
    --fontSizes-xs: 12px;
    --fontSizes-sm: 14px;
    --fontSizes-md: 16px;
    --fontSizes-lg: 18px;
    --fontSizes-xl: 20px;
    --fonts-standard: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --fonts-fallback: Segoe UI, system-ui, sans-serif;
    --fontWeights-thin: 100;
    --fontWeights-extralight: 200;
    --fontWeights-light: 300;
    --fontWeights-normal: 400;
    --fontWeights-medium: 500;
    --fontWeights-semibold: 600;
    --fontWeights-bold: 700;
    --fontWeights-extrabold: 800;
    --lineHeights-xs: 1;
    --lineHeights-sm: 1.25;
    --lineHeights-md: 1.5;
    --lineHeights-lg: 1.625;
    --lineHeights-xl: 1.75;
    --letterSpacings-tighter: -0.05em;
    --letterSpacings-tight: -0.025em;
    --letterSpacings-normal: 0;
    --letterSpacings-wide: 0.025em;
    --letterSpacings-wider: 0.05em;
    --letterSpacings-widest: 0.1em;
    --radii-xs: 2px;
    --radii-sm: 4px;
    --radii-md: 8px;
    --radii-lg: 16px;
    --radii-xl: 32px;
    --radii-squared: 33%;
    --radii-rounded: 50%;
    --radii-pill: 9999px;
    --shadows-xs: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadows-sm: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 7px 7px -5px;
    --shadows-md: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --shadows-lg: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
    --shadows-xl: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 36px 28px -7px, rgba(0, 0, 0, 0.04) 0px 17px 17px -7px;
    --zIndices-1: 100;
    --zIndices-2: 200;
    --zIndices-3: 300;
    --zIndices-4: 400;
    --zIndices-5: 500;
    --zIndices-10: 1000;
    --zIndices-max: 9999;
    --borderWidths-light: 1px;
    --borderWidths-normal: 2px;
    --borderWidths-bold: 3px;
    --borderWidths-extrabold: 4px;
    --borderWidths-black: 5px;
    --borderWidths-xs: 1px;
    --borderWidths-sm: 2px;
    --borderWidths-md: 3px;
    --borderWidths-lg: 4px;
    --borderWidths-xl: 5px;
    --breakpoints-xs: 576;
    --breakpoints-sm: 768;
    --breakpoints-md: 992;
    --breakpoints-lg: 1200;
    --breakpoints-xl: 1400;
}

:root {
    --font: Lemon Days,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-standard: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --primary: #228be6;
    --secondary: #4b5563;
    --dark: #1a202c;
    --light: #e2e8f0;
    --white: #fff;
    --code: #f8f9fa;
    --tag: #f4f5f7;
    --tag-border: #d2d6dc;
    --tag-text: #161e2e;
    --text: var(--dark);
    --topbar-height: 50px;
    --sidebar-width: 250px;
    --quote: var(--tag);
    --quote-side: var(--tag-text);
    --example-border: var(--light);
    --props-border: var(--light);
    --props-devider: var(--code);
    --props-types-bg: var(--tag);
    --props-types-border: var(--tag-border);
    --props-types-text: var(--tag-text);
    --props-oneof-text: var(--hl-builtin);
    --props-default-text: var(--light);
    --hl-background: var(--code);
    --hl-text: #212529;
    --hl-comment: #868e96;
    --hl-keyword: #c92a2a;
    --hl-string: #364fc7;
    --hl-number: #1c7ed6;
    --hl-name: #5f3dc4;
    --hl-attr: #5c940d;
    --hl-builtin: #8b6caf;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--primary)
}

body{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

button{
    border: 1px solid var(--light);
    background: transparent;
}